POSTGRES_DB=sks
POSTGRES_USER=sks
POSTGRES_PASSWORD=change_me
JWT_SECRET_USER=change_me_user_secret_min_32_bytes
JWT_SECRET_ADMIN=change_me_admin_secret_min_32_bytes
SERVICE_TOKEN=change_me_internal_shared_token
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_PASSWORD=change_me_admin_login_pwd
TRIAL_CREDIT=3
ZHIPU_API_KEY=
TIKHUB_API_KEY=
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN=
